.content {
  grid-area: c;
  background-color: wheat;
  padding: 10px 16px;
  border-radius: 8px 0px 0px 8px;
  background-color: transparent;
  /* box-shadow: 5px 10px 20px rgba(10, 10, 10, 0.2); */
}
