.App {
  max-width: 1280px;
  background-color: #51f307;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
