.app-wrapper {
  display: grid;
  width: 1280px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: springgreen;
}

.nav {
  grid-area: n;
  display: grid;
  background-color: yellow;
}

.content {
  grid-area: c;
  background-color: wheat;
}

.header img {
  display: block;
  width: 48px;
  height: 48px;
}
