.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 8px;
}

img {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid #daa520;
  border-radius: 50%;
  margin-right: 20px;
}

.messagesList {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}
